services:
  weaviate:
    image: semitechnologies/weaviate:1.27.0
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none' 
      ENABLE_MODULES: ''
      GRPC_PORT: '50051'
      CLUSTER_HOSTNAME: 'node1'
      CLUSTER_GOSSIP_BIND_PORT: '7100'
      CLUSTER_DATA_BIND_PORT: '7101'
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8080/v1/meta"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - weaviate_data:/var/lib/weaviate

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_container
    ports:
      - "11434:11434"
    environment:
      - OLLAMA_CONTEXT_LENGTH=4096
    volumes:
      - ollama_storage:/root/.ollama
      - ./Modelfiles:/root/Modelfiles
    restart: always
  
  kafka-tunnel:
    image: alpine:latest
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 5
    container_name: kafka_tunnel
    restart: always
    command: >
      sh -c "apk add --no-cache openssh-client autossh netcat-openbsd &&
      cp /key.pem /root/id_rsa &&
      chmod 600 /root/id_rsa &&
      autossh -M 0 -4 -o StrictHostKeyChecking=no -o ServerAliveInterval=60 -o ServerAliveCountMax=3 -N -L 0.0.0.0:9092:localhost:9092 -i /root/id_rsa ec2-user@${SSH_TARGET_IP}"
    volumes:
      - ~/amazon_rsa_key.pem:/key.pem:ro

  llm_worker_oakhillpines:
    build: .
    restart: always
    network_mode: service:kafka-tunnel
    depends_on:
      ollama:
        condition: service_started
      kafka-tunnel:
        condition: service_healthy
    environment:
      KAFKA_SERVER: ${KAFKA_SERVER}
      KAFKA_TOPIC: ${KAFKA_TOPIC_OAKHILLPINES}
      ENABLE_RAG: False
      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL}
      OLLAMA_MODEL: ${MODEL_OAKHILLPINES}
      PYTHONUNBUFFERED: 1

  llm_worker_private:
    build: .
    restart: always
    network_mode: service:kafka-tunnel
    depends_on:
      weaviate:
        condition: service_healthy
      ollama:
        condition: service_started
      kafka-tunnel:
        condition: service_healthy
    volumes:
      - ./knowledge_base:/app/knowledge_base
    environment:
      KAFKA_SERVER: ${KAFKA_SERVER}
      KAFKA_TOPIC: ${KAFKA_TOPIC_PRIVATE}
      ENABLE_RAG: False
      WEAVIATE_URL: ${WEAVIATE_URL}
      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL}
      OLLAMA_MODEL: ${MODEL_PRIVATE}
      PYTHONUNBUFFERED: 1

  llm_worker_socius:
    build: .
    restart: always
    network_mode: service:kafka-tunnel
    depends_on:
      ollama:
        condition: service_started
      kafka-tunnel:
        condition: service_healthy
    environment:
      KAFKA_SERVER: ${KAFKA_SERVER}
      KAFKA_TOPIC: ${KAFKA_TOPIC_SOCIUS}
      ENABLE_RAG: False
      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL}
      OLLAMA_MODEL: ${MODEL_SOCIUS}
      PYTHONUNBUFFERED: 1

volumes:
  ollama_storage:
  weaviate_data: