services:
  weaviate:
    image: semitechnologies/weaviate:1.27.0
    ports:
      - "8080:8080"
      - "50051:50051"
    environment:
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      DEFAULT_VECTORIZER_MODULE: 'none' 
      ENABLE_MODULES: ''
      GRPC_PORT: '50051'

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_container
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always

  llm_worker:
    build: .
    depends_on:
      - weaviate
    volumes:
      - ./knowledge_base:/app/knowledge_base
    # extra_hosts:
    # - "host.docker.internal:host-gateway"
    environment:
      REDIS_HOST: "localhost"
      REDIS_PORT: 6379
      WEAVIATE_URL: http://weaviate:8080
      OLLAMA_BASE_URL: http://ollama:11434
      OLLAMA_MODEL: "llama3.2:3b"

volumes:
  ollama_storage: